nav >ul{
    display: flex;
   
}
nav li{
    list-style: none;
margin-right: 20px;

}
nav li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
nav li :hover{
    background-color: cornflowerblue;
    color: aquamarine;
    

}
nav  li .dd{
    display: none;
    position: absolute;
    padding: 0px;
}
nav li:hover .dd{
    display: block;
    
}
.field-one{
    background-color: blanchedalmond;
}